.nav{
  text-align: center;
  width: 100%;
  color: blueviolet;
  font-size: larger;
  line-height: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 3rem;

}
.heading{
  font-size: 3rem;
  color: blueviolet;
  font-style: italic;
}
